input[type='range'] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px auto;
  width: 100%;
  max-width: 500px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: $gray;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0 0px 1.6px rgba(0, 0, 0, 0.038), 0 0px 4.4px rgba(0, 0, 0, 0.055),
    0 0px 10.6px rgba(0, 0, 0, 0.072), 0 0px 35px rgba(0, 0, 0, 0.11);
  border: 1px solid white;
  background: $primary;
  height: 32px;
  width: 16px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: $gray;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  // box-shadow: 1px 1px 1px #000000;
  background: $gray;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  // border: 1px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0 0px 1.6px rgba(0, 0, 0, 0.038), 0 0px 4.4px rgba(0, 0, 0, 0.055),
    0 0px 10.6px rgba(0, 0, 0, 0.072), 0 0px 35px rgba(0, 0, 0, 0.11);
  border: 1px solid white;
  background: $primary;
  height: 32px;
  width: 16px;
  border-radius: 5px;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type='range']:focus::-ms-fill-upper {
  background: #3071a9;
}
